:root {
  --face-color: whitesmoke;
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 33.33vmin;
  --eye-color: black;
  --eyelid-color: whitesmoke;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: white;
  cursor: none;           /* hide cursor for kiosk */
  touch-action: none;     /* prevent touch drag/scroll */
  -webkit-overflow-scrolling: none;
  user-select: none;
  -webkit-user-select: none;
}

/* Hide scrollbars in all browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.buttons {
  position: absolute;
  z-index: 3;
  opacity: 0;             /* hidden by default for immersion */
  pointer-events: none;   /* can't accidentally tap them */
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.eye {
  background-color: var(--eye-color);
  border-radius: 100%;
  height: var(--eye-size);
  width: var(--eye-size);
  bottom: calc(var(--eye-size) / 3);
  z-index: 1;
  transform: rotateX(0);
}

.eye.left {
  left: calc(var(--eye-size) / 3);
}

.eye.right {
  right: calc(var(--eye-size) / 3);
}

.eyelid {
  background-color: var(--eyelid-color);
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  z-index: 2;
  transform: rotate(0deg);
}

.eyelid.upper {
  bottom: calc(var(--eye-size) * 1);
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  border-radius: 100%;
  bottom: calc(var(--eye-size) * -1);
  left: calc(var(--eye-size) * -0.375);
}


